<div class="menu-bar">
        <p class="title-part">Introduction</p>
        <a href="#">chronologie</a>
        <a href="#">Le premier jour</a>
        <a href="#">Le premier jour</a>
        <a href="#">Le premier jour</a>
        <a href="#">Le premier jour</a>
        <p class="title-part">Les produits</p>
        <a href="#">Les bornes escamotables</a>
        <a href="#">La technologie WifiMax</a>
        <a href="#">Le premier jour</a>
        <a href="#">Le premier jour</a>
        <a href="#">Le premier jour</a>
</div>