<div class="navbar">
        <img class="btn-navbar-link" src="../icones/logo-abeille.jpg">
        <p class="title" onclick="window.open('http://www.abeille.com/page/274/Presentation');"><a href="#">Abeille</a></p>
        <a target="blank" href="http://www.globephone.fr/">Globe Phone</a>
        <a target="blank" href="http://www.beespot.net/">Bee Spot</a>
        <a target="blank" href=" http://beescreen.weetrine.com">Bee Screen</a>
        <a target="blank" href=" http://www.beeip.net">Bee IP</a>
        <div class="dropdown-products"><img src="../icones/expand_arrow_96px.png"></div>
        <div class="toggle-burger-menu"><img src="../icones/menu_vertical_96px.png"></div>
</div>

<div class="overtop-menu">
        <a target="blank" href="http://www.globephone.fr/">Globe Phone</a>
        <a target="blank" href="http://www.beespot.net/">Bee Spot</a>
        <a target="blank" href=" http://beescreen.weetrine.com">Bee Screen</a>
        <a target="blank" href=" http://www.beeip.net">Bee IP</a>
</div>